configuration {
    modi: "apps:~/.config/rofi/apps.py";
    matching: "fuzzy";
    timeout {
        action: "kb-cancel";
        delay:  0;
    }
    filebrowser {
        directories-first: true;
        sorting-method:    "name";
    }
}
@theme "~/.config/rofi/velocity.rasi"
