layout {
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    preset-window-heights {
        proportion 0.5
    }

    default-column-width {
        proportion 0.5
    }
}
