include "config.d/input.kdl"
include "config.d/binds.kdl"
include "config.d/gestures.kdl"
include "config.d/layout.kdl"
include "config.d/miscellaneous.kdl"
include "config.d/windowrules.kdl"

include "dms/alttab.kdl"
include "dms/binds.kdl"
include "dms/colors.kdl"
include "dms/cursor.kdl"
include "dms/layout.kdl"
include "dms/outputs.kdl"
include "dms/windowrules.kdl"
include "dms/wpblur.kdl"
